body{
    font-family: Arial, sans-serif;
    background:#f4f4f4;
    margin:0;
    padding:0;
}

.container{
    width:80%;
    margin:auto;
    background:white;
    padding:30px;
    margin-top:20px;
    margin-bottom:20px;
    border-radius:10px;
}

h1{
    color:#0066cc;
}

.highlight{
    font-weight:bold;
    color:green;
}

ul{
    line-height:1.8;
}

pre{
    background:#f0f0f0;
    padding:15px;
    border-radius:5px;
}
